<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/common :: head}"></th:block>
    <title>Book Time</title>
</head>
<body>
<div class="container">
    <th:block th:insert="~{layout/common :: header}" th:remove="tag"></th:block>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge bg-secondary rounded-pill">3</span>
            </h4>
            <ul  class="list-group mb-3">
                <li th:each="good : ${orderList}" class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <img style="max-width: 20px;" src="https://cdn4.iconfinder.com/data/icons/contact-us-19/48/35-512.png">
                    </div>
                    <div>
                        <h6 class="my-0">Product name</h6>
                        <small th:text="${good.goodTitle}" lass="text-muted"></small>
                    </div>
                    <span th:text="|${good.goodSalesPrice}X${good.orderGoodsqty} |" class="text-muted"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>

        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">주문 정보</h4>
            <form th:action="@{/order}" method="post" class="needs-validation" novalidate>

                <div class="mb-3">
                    <label for="ordererName">주문자</label>
                    <input type="text" class="form-control" id="ordererName" name="ordererName" placeholder="주문자">
                </div>


                <div class="mb-3">
                    <label for="receiverName">받으시는 분</label>
                    <input type="text" class="form-control" id="receiverName" name="receiverName" placeholder="받는분">
                </div>

                <div class="mb-3">
                    <label for="receiverTel">전화번호</label>
                    <input type="text" class="form-control" id="receiverTel" name="receiverTel" placeholder="핸드폰 번호">
                </div>

                <div class="mb-3">
                    <label for="receiverHp">폰번호</label>
                    <input type="text" class="form-control" id="receiverHp" name="receiverHp" placeholder="핸드폰 번호">
                </div>


                <input type="text" id="sample6_postcode" name="postcode" placeholder="우편번호">
                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                <input type="text" id="sample6_address" name="address" placeholder="주소"><br>
                <input type="text" id="sample6_detailAddress" name="detailaddress" placeholder="상세주소">
                <input type="text" id="sample6_extraAddress" name="extraaddress" placeholder="참고항목">

                <div class="mb-3">
                    <label for="deliveryMessage">요청사항(코멘트)</label>
                    <input type="text" class="form-control" id="deliveryMessage" name="deliveryMessage"
                           placeholder="코멘트" required>
                </div>

                <div class="d-block my-3">

                    <div class="custom-control custom-radio">
                        <input id="credit" name="payMethod" value="credit" type="radio" class="custom-control-input"
                               checked
                               required>
                        <label class="custom-control-label" for="credit">카드</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="bank" name="payMethod" value="bank" type="radio" class="custom-control-input"
                               required>
                        <label class="custom-control-label" for="bank">무통장 입금</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="phone" name="payMethod" value="phone" type="radio" class="custom-control-input"
                               required>
                        <label class="custom-control-label" for="phone">폰 결제</label>
                    </div>
                </div>
                <div class="d-block my-3">
                    <div class="form-group">
                        <label for="cardComName">카드선택</label>
                        <select id="cardComName" name="cardComName" class="form-control">
                            <option value="shinhan" selected>신한
                            <option value="woori">우리
                        </select>
                    </div>
                </div>
                <div class="d-block my-3">
                    <div class="form-group">
                        <label for="cardPayMonth">할부 기간</label>
                        <select id="cardPayMonth" name="cardPayMonth" class="form-control">
                            <option value="1" selected>일시불
                            <option value="3">3
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="payOrderHp">결재 번호</label>
                    <input type="text" class="form-control" id="payOrderHp" name="payOrderHp" placeholder="결 번호">
                </div>


                <div class="mb-3">
                    <label for="orderPh">Email <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="orderPh" placeholder="전화번호">
                </div>


                <hr class="mb-4">

                <h4 class="mb-3">Payment</h4>


                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required>
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">주문하기</button>
            </form>
        </div>
    </div>
</div>


</div>


<th:block th:insert="~{layout/common :: script}"></th:block>
</body>
</html>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }


</script>
